.cart{
    background-color: #818180;
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
     &__item{
        display: flex;
        width: 90%;
        height: 100px;
        margin-bottom: 30px;
        margin-top: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 50px;
        &__delete{
            & .ant-btn{
                    width: 80px;
                    height: 35px;
                    margin: 0px;
                }
        }
        &__price--mobi{
                color: rgb(255, 241, 241);
                text-align: right;
                margin-right: 10px;
                font-size: 1rem;
                padding-bottom: 10px;
            }
        &__content{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__buttonItem--mobi{
            display: none;
            }
            &__buttonItem{
                display: flex;
                align-items: center;
                justify-content: center;
                & .ant-input-number{
                    width: 80px!important;
                    margin-right: 20px;
                    background-color: #423D3D!important;
                    border-width: 0px!important;
                    margin-bottom: 0px!important;
                   box-shadow: #423D3D!important;
                }
                & .ant-btn{
                    width: 80px;
                    height: 35px;
                    margin: 0px;
                }
            }
            }
        &__image{
            width: 5%;
            height: auto;
            aspect-ratio: 4/3;
            margin-left: 10px;
            margin-right: 10px;
            & img{
                width: 100%;
                height: 100%;
            object-fit: cover;

            }
        }
    }
    &__buttonOrder{
        padding-bottom: 20px;
        float: right;
    }
}

@media screen and (max-width: 768px) {
    .cart{
        width: 100%!important;
        margin: 0px!important;
        font-size: 0.75rem;
        &__item{
            width: 90%;
            padding: 0px;
            padding-left: 20px;
            // background-color: aqua;
            &__delete{
                width: 10%;
                & .ant-btn{
                    width: 40px;
                    height: 35px;
                    margin: 0px;
                }
            }
            justify-content: space-between!important;
            &__image{
                width: 30%;
                height: auto;
                aspect-ratio: 16/9;
                overflow: hidden;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__price--mobi{
                color: rgb(255, 241, 241);
                text-align: right;
                margin-right: 10px;
                font-size: 1rem;
                padding-bottom: 10px;
            }
            &__content{
                flex-direction: column;
                align-items: start;
                justify-content: center!important;
                width: 50%;
                height: 100%;
                &__name{
                    font-size: 1rem;
                    font-style: bold;
                }
                &__total{
                display: none;
                }
                &__buttonItem--mobi{
                display: block;
                }
                &__buttonItem--pc{
                display: none;
                }
                &__buttonItem{
                    & .ant-input-number{
                        width: 50px!important;
                        height: 20px!important;
                        margin-right: 5px!important;
                        margin-left: 5px!important;
                        background-color: #818180!important;
                        border-width: 0px;
                        padding: 0px!important;
                        border-radius: 5px!important;
                        margin-left: -2px!important;
                        & input{
                            background-color: white!important;
                            border-radius: 0px!important;
                        }
                    }
                    & .ant-btn{
                        width: 20px;
                        height: 20px;
                }
            }
            }
            
        }
    }
}