.contact{
    width: 80vw;
    margin: 20px auto 80px auto;
    &__image{
        width: 80vw;
        height: auto;
        aspect-ratio: 16/9;
        margin-bottom: 50px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__infor{
        width: 80vw;
        &__content{
            text-align: left;
            &__title{
                font-size: 2.2rem;
                margin-bottom: 15px;
                font-weight: 600;
            }
            &__tel{
                font-size: 1.5rem;
                margin-bottom: 15px;
                font-weight: 300;
            }
             &__email{
                font-size: 1.5rem;
                margin-bottom: 15px;
                font-weight: 300;

            }
        }
    }
}

input , textarea, select{
    background-color:#F6F3E4!important ;
    padding: 10px!important;
    border-color: #e0cd7079!important;
}

textarea{
    height: 5rem!important;
}

button{
    width: 120px;
    margin-top: 10px;
}