.product{
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    margin-top: 50px;

    &__image{
        width: 100%;
        height: auto;
        aspect-ratio: 9/14;
        border-radius: 10px;
        overflow: hidden;
        & img{
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
    }
    &__price{
        display: flex;
        margin-top: 10px;
        &--new{
            margin-right: 30px;
            font-size: 0.875rem;
            font-weight: 700;
        }
         &--old{
            font-size: 0.875rem;
            font-weight: 400;
            color: rgb(196, 56, 56);
            text-decoration: line-through;
        }
    }
    &__title{
        margin-top: 5px;
        text-align: left;
        font-size: 1rem;
        font-weight: 300;
    }
    &__item{
        cursor: pointer;
    }
}
