.imageContainer{
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
}

.image{
    width: 100%;
    height: auto;
    aspect-ratio: 16/24;
    & img{
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
}