.borderBottom{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin: 30px auto;
}
.Cart {
    & .ant-tabs-tab {
            background-color: white;
            min-height: 5vh;
            min-width: 10vw;
            font-size: 1rem;
            margin-top: 0px !important;
            margin: 0px !important;
            padding: 10px;
        }
    & .ant-tabs-tab:hover {
        background-color: #F6F3E4;
    }

    & .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #c5bebe;
    }

    & .ant-tabs-tab-btn {
        color: rgb(0, 0, 0) !important;
        margin: 0px;
    }
}

.yourOrder {
    background-color: #F6F3E4;
    margin-bottom: 20px;
    margin: 20px auto;
    width: 100%;

    &__item {
        &__code {
            color: rgb(241, 8, 8);
        }
        &__proceed {
            width: 100%;
            margin-bottom: 10px;
        }

        &__detailOrder {
            background-color: #F6F3E4;
            display: flex;
            width: 100%;
            text-align: left;
            padding: 10px;

            &__image {
                width: 20%;
                height: auto;
                aspect-ratio: 4/3;
                margin-right: 30px;
                margin-left: 30px;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__content{
                font-size: 1rem;
                width: 80%;
                &__name{
                    font-size: 1.2rem;
                    font-style: bold;
                    margin-bottom: 20px;
                }
                &__tranportFee{
                    display: flex;
                    justify-content: space-between;
                    width: 40%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                &__pay{
                    display: flex;
                    justify-content: space-between;
                    width: 40%;
                }
            }

        }

        &__tranportFee {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        &__pay {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

    }
}


@media screen and (max-width: 768px) {
    .borderBottom{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin: 10px auto;
}
    .Cart {
        & .ant-tabs-tab {
            background-color: white;
            min-height: 5vh;
            min-width: 50vw;
            font-size: 1rem;
            margin-top: 0px !important;
            margin: 0px !important;
            padding: 10px;
        }
    }

    .yourOrder {
    margin-bottom: 20px;
    margin: 20px auto;
    width: 100%;

    &__item {
        &__code {
            color: rgb(241, 8, 8);
        }
        &__proceed {
            width: 100%;
            margin-bottom: 10px;
        }

        &__detailOrder {
            display: flex;
            width: 100%;
            text-align: left;
            padding: 10px;

            &__image {
                width: 40%;
                height: auto;
                aspect-ratio: 1/1!important;
                margin-right: 30px;
                margin-left: 30px;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__content{
                font-size: 0.875rem;
                width: 80%;
                &__name{
                    font-size: 1rem;
                    font-style: bold;
                    margin-bottom: 15px;
                }
                &__tranportFee{
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                &__pay{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                }
            }

        }

        &__tranportFee {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        &__pay {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

    }
}
   
        
    
}